wxpython
pywin32
winpaths
pyinstaller
requests
beautifulsoup4
lxml
pyperclip
https://github.com/actlaboratory/soundPlayer/archive/0.0.9.zip
https://github.com/actlaboratory/implicitGrantManager/archive/v1.1.0.zip
